*.tex
*.nb.html
*.pdf
*.html
/*_cache/
/cache/


RData/Models_List.RData
RData/Multiple_Imputed_Datasets.RData
RData/Models_List_SA_Transfusion.RData
RData/Multiple_Imputed_Datasets.RData
TimetoEventAnalysis.R
RData/ModelList_Transfusion.RData
RData/Multiple_Imputed_Datasets.RData
.Rhistory
RData/Imputed_List_Weights.RData
RData/AverageEffect_Pooled.RData
RData/ModelList_Africa.RData
RData/ModelList_Asia.RData
RData/ModelList_Asia.RData
RData/Models_List_Africa.RData
RData/Models_List_Asia.RData
RData/Models_List_TransfusionMediation.RData
RData/results_IPW_AQUAMAT.RData
RData/results_IPW_nonAQUAMAT.RData
RData/results_IPW_older_10.RData
RData/results_IPW_Pooled.RData
RData/Models_List_Remove_Hb_less_10.RData
RData/ModelList_transfusion_Naive.RData
RData/Transfusion_propensity_weights.RData
Results_Africa.RData
Results_Asia.RData
Results_fullmodel.RData
RData/.RData
